# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

./config/
./config/*

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

node_modules/
.vite/

terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform.tfvars

dummy_100mb_1.bin
dummy_100mb_2.bin
dummy_100mb_3.bin
